<div class = "post-header">
  <div class="left-header">
    <div class="header-title">
       <%= "@group.name" %>
    </div>
  </div>
  <div class="right-header">
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout %>
    <%= link_to "新規投稿", new_group_post_path, class: :nav__btn %>
  </div>
</div>
<div class = "texts">
   <%#= render partial: 'text', collection: @texts %>
</div>
