<div class = "side-header">
  <div class = "header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class = "create-group">
    <%= link_to "groupを作成する", "new_group_path" %>
  </div>
</div>

<div class = "groups">
  <%# current_user.rooms.each do |room| %>
    <div class = "group">
      <div class = "group-name">
        <%= link_to "group.name", "group_posts_path(group)" %>
      </div>
    </div>
  <%# end %>
</div>