<%= render "shared/header" %>
<div class="wrapper d-flex">
  <%= render "side_bar" %>
  <div class="main">
    <h1 class ="top-message pt-4 font-weight-bold">ようこそ、Easy Boardへ</h1>
    <h3 class ="top-message mt-3">必要な情報は人ぞれぞれ　必要な情報だけ届く掲示板</h3>
  </div>
</div>

