<%= render "shared/header" %>
<div class="wrapper d-flex">
  <%= render "side_bar" %>
  <div class="main">
    <div class="top-messages">
      <h1 class ="top-message pt-4 font-weight-bold pb-3">ようこそ、Easy Boardへ</h1>
      <h3 class ="top-message mt-3">あなたに必要な情報だけ届く、あなただけの掲示板</h3>
    </div>
  </div>
</div>

