<div class="header d-flex align-items-center py-3 px-4 bg-white border-bottom shadow-sm">
  <div class="header-title my-0 mr-auto font-weight-bold">
    <%= link_to "Easy Board", root_path, {class: "h1 text-body text-decoration-none"} %>
  </div>

</div>
