/* index.html.erb */
.wrapper{
  display: flex;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.post{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
/* index.html.erb */

/* side_bar */
.side-header{
  background-color: #253141;
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.groups{
  background-color:#2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.groups-head{
  text-align:center;
  color: whitesmoke;
  font-size: 25px;
  
}
.group{
  padding: 20px 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-name a{
  
  font-size: 25px;
  color: whitesmoke;
  text-decoration: none;
}

/* side_bar */

/* main */
.post-header{
  background-color: #ffffff;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.left-header{}

.header-title{
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.right-header{}

.texts {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}
/* main */

