.header{
 height: 75px;
}

/* index.html.erb */

.top-message {
  text-align: center;
  color: #4169E1;
}

/* index.html.erb */

/* side_bar */

.side-bar {
  width: 15%;
  background-color: #D9E5FF;
}
.groups-head{
  text-align:center;
  font-size: 25px;
}

.side-bar-menu{
  height: calc(100vh - 75px);
  overflow: scroll;
}

.group-name a{
  font-size: 20px;
}

/* side_bar */
